Lesson01-Favorite-Toys/T01.02-Exercise-DisplayToyList/gradlew~upstream_student
Lesson01-Favorite-Toys/T01.02-Exercise-DisplayToyList/gradlew~udacity_student
Lesson01-Favorite-Toys/T01.02-Exercise-DisplayToyList/gradlew~upstream_student_0
Lesson10-Hydration-Reminder/T10.04-Solution-PeriodicSyncWithJobDispatcher/app/src/main/java/com/example/android/background/sync/ReminderUtilities.java.orig